body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
    color: whitesmoke;
}
h3{
    color: whitesmoke;
}
.heading{
    color: orange;
}
p{
    color: rgb(202, 207, 211);
}
.p2{
    color: slategray;
}
.header-color-change{
    color: yellow;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width2{
    width: 50%;
    padding-left: 10%;
}
.hire-me-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(yellow,tomato);
    color: whitesmoke;
}
.image2{
    width: 50%;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
}