body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
    color: whitesmoke;
}
h3{
    color: whitesmoke;
}
p{
    color: whitesmoke;
}
.header-color-change{
    color: yellow;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}
.hire-me-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(yellow,tomato);
    color: whitesmoke;
}